@page "/books"

<Headers Header="MKProject Books"></Headers>

<table class="w3-table-all">
    <tr>
        <th>Title</th>
        <th>Language</th>
        <th>Difficulty</th>
        <th>Reading Options</th>
    </tr>
    @foreach (Book_List.Book b in Book_List.Books)
    {
        <tr>
            <td>@b.title</td>
            <td>@b.lang</td>
            <td>@b.difficlty</td>
            <td><a href="@b.read">Read Web <span class="oi oi-book"></span></a>  <a href="@b.pdf">PDF <span class="oi oi-cloud-download"></span> </a></td>
        </tr>
    }
</table>